<mat-toolbar color="primary">
  <!-- Logo e nome da empresa -->
  <!--div class="header-left">
    <button mat-icon-button (click)="toggle()" aria-label="Open Sidebar">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/logo-pedromag.png"  class="logo">
    <span>PEDROMAG</span>
  </div-->

  <!-- Espaçador para empurrar os ícones para a direita -->
  <span class="example-spacer"></span>

  <!-- Ícones à direita -->
  <button mat-icon-button aria-label="Notificações">
    <mat-icon color="black">notifications</mat-icon>
  </button>

  <button mat-icon-button aria-label="Idioma">
    <img src="../../../assets/flag-pt.png" alt="" class="flag-icon">
  </button>

  <button mat-icon-button aria-label="">
    <img src="../../../assets/user-avatar.png" class="avatar-icon">
  </button>
</mat-toolbar>
