/* Estilo do contêiner principal para ocupar a altura total da tela */
.main-container {
    height: 100vh; /* Define a altura do contêiner para 100% da visualização vertical */
    display: flex;
  }
  
  /* Sidenav deve ocupar a altura total e ter um tamanho apropriado */
  .sidenav {
    width: 240px; /* Define a largura do sidebar */
    background-color: #1e3a63; /* Exemplo de cor de fundo */
    color: #fff;
    border-right: 1px solid #ddd; /* Se quiser uma borda no lado direito */
    height: 100%; /* Garante que a altura é 100% */
  }
  
  /* Estilo para o conteúdo principal */
  .sidenav-content {
    flex-grow: 1; /* Faz o conteúdo expandir para ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Evita barras de rolagem desnecessárias */
  }
  
  /* Adicionando margem inferior para garantir que o conteúdo não fique cortado */
  .sidenav-content router-outlet {
    flex-grow: 1;
    overflow: auto; /* Permite rolagem caso o conteúdo exceda a altura */
  }
  
  /* Estilo para o header */
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  