.sidenav-container {
    height: 100%;  /* Ajustar a altura */
    display: flex;
  }
  
  mat-sidenav {
    width: 250px;  /* Largura padrão */
    background-color: #1e3a8a;  /* Cor de fundo azul */
    color: white;
    transition: width 0.3s;  /* Adiciona transição suave */
  }
  
  .sidenav-container.collapsed mat-sidenav {
    width: 80px; /* Largura quando colapsado */
  }
  
  .header-left {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .logo {
    height: 40px; /* Ajuste conforme necessário */
    margin-right: 8px;
  }
  
  .menu-icons, .menu-descriptions {
    transition: opacity 0.3s ease; /* Suavizar transição */
  }
  
  .menu-descriptions.hidden {
    opacity: 0; /* Ocultar descrições */
    visibility: hidden;
  }
  
  .apps-header {
    color: rgba(255, 255, 255, 0.7);
    padding: 16px;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .menu-text {
    font-size: 16px;
    margin-left: 10px; /* Espaço entre o ícone e o texto */
  }
  
  mat-list-item {
    color: white;
    height: 48px;
    padding: 0 16px;
    cursor: pointer;
  
    mat-icon {
      color: white;
      margin-right: 10px;
    }
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);  /* Efeito hover */
    }
  }
  
  mat-sidenav-content {
    padding: 16px;
  }

  .menu-descriptions {
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease; /* Adicionando height */
    margin-left: 16px; /* Espaço entre os ícones e as descrições */
  }
  
  .menu-descriptions.hidden {
    opacity: 0; /* Ocultar descrições */
    visibility: hidden;
    height: 0; /* Não ocupar espaço */
  }
  
  .menu-descriptions.visible {
    opacity: 1; /* Mostrar descrições */
    visibility: visible;
    height: auto; /* Ocupa espaço normalmente */
  }
  