.sidenav-container {
    height: 100%;
    display: flex;
  }
  
  mat-sidenav {
    width: 250px;
    background-color: #1e3a8a;
    color: white;
    transition: width 0.3s;
  }
  
  .sidenav-container.collapsed mat-sidenav {
    width: 80px;
  }
  
  /* Dividindo os ícones e descrições lado a lado */
  .menu-container {
    display: flex;
    flex-direction: row; /* Manter ícones e descrições lado a lado */
    height: auto; /* Garante que as duas colunas fiquem com a mesma altura */
  }
  
  .menu-icons {
    width: 60px; /* Largura da parte azul */
    background-color: #1e3a8a;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .menu-descriptions {
    background-color: white; /* Parte branca para as descrições */
    color: black;
    width: calc(100% - 60px); /* Ocupa o restante do espaço, menos a largura dos ícones */
    padding-left: 10px; /* Espaçamento para as descrições */
    transition: opacity 0.3s ease;
  }
  
  .menu-descriptions.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .menu-descriptions.visible {
    opacity: 1;
    visibility: visible;
  }
  
  /* Ajustes para listas */
  .mat-list-item {
    height: 48px;
    padding: 0 16px;
    cursor: pointer;
  }
  
  .mat-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .mat-icon {
    color: white;
  }
  
  /* Cabeçalho dos apps */
  .apps-header {
    color: rgba(255, 255, 255, 0.7);
    padding: 16px;
    font-size: 14px;
    text-transform: uppercase;
  }
  