<section class="vh-60 shad login-background">
    <div class="login-container">
      <div class="login-box">
        <div class="login-logo">
            
          <img src="../../../assets/logo-sysconp.png" alt="Sysconp Logo">
        </div>
  
        <form>
          <mat-form-field appearance="fill" class="login-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="administrador@sysconp.com">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="login-input">
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="********">
          </mat-form-field>
  
          <button mat-raised-button color="primary" class="login-button">
            Entra
          </button>
        </form>
  
      </div>
      <div class="login-avatar">
        <img src="../../../assets/avatar-icon.png" alt="User Icon">
      </div>
    </div>
  </section>
  