<section class="vh-60 shad login-background">
  <div class="login-container">
    <div class="login-box">
      <div class="login-logo">
        <img src="../../../../assets/logo-sysconp.png">
        <span class="texto">SYSCONP</span>
      </div>

      <form [formGroup]="formularioLogin">
        <!-- Mensagem de erro de login -->
        <div *ngIf="loginError" class="errostext mb-2">
          {{ loginError }}
        </div>

        <mat-form-field appearance="fill" class="login-input">
          <mat-label>Email</mat-label>
          <input matInput placeholder="administrador@sysconp.com" formControlName="femail">
          <!-- Erro de campo inválido -->
          <mat-error *ngIf="formularioLogin.get('femail')?.hasError('required') && formularioLogin.get('femail')?.touched">
            O email é obrigatório.
          </mat-error>
          <mat-error *ngIf="formularioLogin.get('femail')?.hasError('email') && formularioLogin.get('femail')?.touched">
            Insira um email válido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="login-input">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="fsenha">
          <!-- Erro de campo inválido -->
          <mat-error *ngIf="formularioLogin.get('fsenha')?.hasError('required') && formularioLogin.get('fsenha')?.touched">
            A senha é obrigatória.
          </mat-error>
          <mat-error *ngIf="formularioLogin.get('fsenha')?.hasError('minlength') && formularioLogin.get('fsenha')?.touched">
            A senha deve ter pelo menos 8 caracteres.
          </mat-error>
        </mat-form-field>

        <!-- Botão de login -->
        <button mat-raised-button color="primary" class="login-button" (click)="onSubmit()">
          Entrar
        </button>
      </form>
    </div>
    <div class="login-avatar">
      <img src="../../../../../assets/233.png" alt="User Icon">
    </div>
  </div>
</section>
