html, body { height: 100%; }

@font-face {
  font-family: 'fonte';
  src: url('./assets/fontes/fonte.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body { margin: 0; font-family: fonte }

.mat-typography, .mdc-button{
  font-family:  fonte !important;
}



